{{#fixed-remodal
  forService=true
  closeOnOutsideClick=false
  modalClasses=computedClasses
  name=computedName
  onOpen=(action 'modalOpen')
  closeOnEscape=false
  disableNativeClose=true as |modal|
}}
  {{yield}}
  {{#modal.open}}
    {{#yield-slot 'target'}}
      {{yield}}
    {{/yield-slot}}
  {{/modal.open}}

  {{#yield-slot 'header'}}
    <div class="header">
      {{yield}}
    </div>
  {{/yield-slot}}

  {{#modal-perfect-scroll
    wheelSpeed=2
    minScrollbarLength=20
    maxScrollbarLength=150}}
    {{#yield-slot 'body'}}
      {{yield}}
    {{/yield-slot}}
  {{/modal-perfect-scroll}}

  <div class='footer'>
    {{#yield-slot 'footer'}}
    {{yield (block-params
      (hash
        cancel=(component
        'action-button'
          text='Cancel'
          type='cancel'
          priority='tertiary'
          size='medium'
          onClose=(action 'modalClose')
        )
        confirm=(component
          'action-button'
          text='Confirm'
          type='confirm'
          priority='primary'
          size='medium'
          onClose=(action 'modalClose')
          )
        button=(component
          'action-button'
          size='medium'
          priority='secondary'
          onClose=(action 'modalClose')
          )
        )
        (action 'modalClose')
    )}}
    {{/yield-slot}}
  </div>
{{/fixed-remodal}}
