{{#ember-remodal
  forService=true
  closeOnOutsideClick=false
  modalClasses=computedClasses
  name=computedName
  onOpen=(action 'modalOpen')
  onClose=(action 'modalClose')
  onConfirm=(action 'confirm')
  closeOnEscape=false
  disableNativeClose=true as |modal|
}}
  {{yield}}
  {{#modal.open}}
    {{#yield-slot 'target'}}
      {{yield}}
    {{/yield-slot}}
  {{/modal.open}}

  {{#yield-slot 'header'}}
    <div class="header">
      {{yield}}
    </div>
  {{/yield-slot}}

  {{#perfect-scroll
    wheelSpeed=2
    minScrollbarLength=20
    maxScrollbarLength=150}}
    {{#yield-slot 'body'}}
      {{yield}}
    {{/yield-slot}}
  {{/perfect-scroll}}

  <div class='footer'>
    {{#yield-slot 'footer'}}
    {{!-- {{#modal.cancel}} --}}
    {{yield (block-params
      (hash
        button=(component
        'action-button'
          priority='tertiary'
          size='medium'
        )
      )
    )}}
    {{!-- {{/modal.cancel}} --}}
    {{!-- {{#modal.confirm}}
      {{#yield-slot 'confirm'}}
        {{yield}}
      {{/yield-slot}}
    {{/modal.confirm}} --}}
    {{/yield-slot}}
  </div>
{{/ember-remodal}}
