<div class='frost-modal-demo-notes'>
  <p>
    \{{frost-modal-dialog}} provides a structured dialog for use as the modal
    in a \{{frost-modal-binding}}
    <ul>
      <li>header - <b>icon, title</b></li>
      <li>scrollable content area - <b>summary, content component</b></li>
      <li>
        footer - <b>cancel, confirm, links</b>
        <i>(with proper transition behavior)</i>
      </li>
    </ul>
  </p>
  <p>
    While \{{frost-modal-dialog}} can be called directly, the primary
    usage is via shim components that provide more specific
    use cases and reduce boilerplate.
  </p>
  <p>
    The rest of the components listed under the <i>Dialog components</i>
    provide shims around the \{{frost-modal-binding}} / \{{frost-modal-dialog}}
    combination.
  </p>
</div>