{{!-- BEGIN-SNIPPET dialog-api }}
  {{frost-modal-outlet}}

  {{frost-modal-dialog
    params=(hash
      cancel=(hash
        isVisible= // (true)
        text= // ('Cancel')
      )
      confirm=(hash
        isVisible=  // (true)
        text= // ('Confirm')
      )
      content=(component 'foo'
        bar= // e.g. props for 'foo'
      )
      icon=(hash
        name= // e.g. 'warning'
      )
      links=(array
        (hash
          priority= // ['primary', etc.]
          route= // e.g. 'foo.bar'
          text= // e.g. 'Foo'
        )
      )
      summary= // [main message]
      title= // Required
    )
  }}
{{ END-SNIPPET --}}

{{! BEGIN-SNIPPET dialog }}
{{frost-modal-binding 'frost-modal-dialog'
  hook='basic-dialog'
  isVisible=isDialogVisible
  params=(hash
    confirm=(hash
      isVisible=false
    )
    content=(component 'demo/dialog/components/basic-content'
      text='Basic content'
    )
    icon=(hash
      name='warning'
    )
    links=(array
      (hash
        priority='secondary'
        route='demo.form'
        text='Moving on...'
      )
    )
    summary='Much boilerplate'
    title='Un-shimmed dialog'
  )
  onClose=(action (mut isDialogVisible) false)
}}
{{! END-SNIPPET }}

<div class='frost-modal-demo-api'>
  {{#frost-tabs
    hook='tabs'
    onChange=(action (mut tab))
    selectedTab=tab
     as |controls|
  }}
    {{controls.tab
      text='Notes'
      id='notes'
      content=(component 'demo/dialog/components/dialog-description')
    }}
    {{controls.tab
      text='API'
      id='api'
      content=(component 'demo/dialog/components/dialog-snippet')
    }}
  {{/frost-tabs}}
</div>
<div class='frost-modal-demo-live'>
  <div class='frost-modal-demo-title'>
    Live demo
  </div>
  <div class='frost-modal-demo-snippet'>
    {{code-snippet name='dialog.hbs'}}
  </div>
  <div class='frost-modal-demo-launch'>
    {{frost-button
      hook='launchButton'
      priority='primary'
      size='medium'
      text='Launch the modal'
      onClick=(action (mut isDialogVisible) true)
    }}
  </div>
</div>
