<div class='frost-modal-dialog-header'>
  {{#if params.icon}}
    {{frost-icon
      hook=(concat hook '-icon')
      icon=params.icon.name
      pack=params.icon.pack
    }}
  {{/if}}
  <div class='frost-modal-dialog-header-title' data-test={{hook (concat hook '-title')}}>
    {{params.title}}
  </div>
  {{! BEGIN-SNIPPET dialog-overflow-y-start }}
  {{#if isOverflowYStart}}
    <div class='frost-modal-dialog-overflow-y-start'></div>
  {{/if}}
  {{! END-SNIPPET }}
</div>

{{! BEGIN-SNIPPET dialog-overflow-scroll }}
{{#frost-scroll
  class='frost-modal-dialog-scroll'
  onScrollDown=(action 'scrollDown')
  onScrollUp=(action 'scrollUp')
  onScrollYEnd=(action 'scrollYEnd')
  onScrollYStart=(action 'scrollYStart')
}}
{{! END-SNIPPET}}
  {{#if params.summary}}
    <div class='frost-modal-dialog-summary' data-test={{hook (concat hook '-summary')}}>
      {{params.summary}}
    </div>
  {{/if}}

  {{#if params.content}}
    <div class='frost-modal-dialog-content' data-test={{hook (concat hook '-content')}}>
      {{component params.content}}
    </div>
  {{/if}}
{{/frost-scroll}}



<div class='frost-modal-dialog-footer'>
  {{! BEGIN-SNIPPET dialog-overflow-y-end }}
  {{#if isOverflowYEnd}}
    <div class='frost-modal-dialog-overflow-y-end'></div>
  {{/if}}
  {{! END-SNIPPET }}

  {{frost-button
    hook=(concat hook '-cancel')
    isVisible=params.cancel.isVisible
    priority='tertiary'
    size='medium'
    text=(if params.cancel.text params.cancel.text 'Cancel')
    onClick=onCancel
  }}

  {{frost-button
    hook=(concat hook '-confirm')
    isVisible=params.confirm.isVisible
    priority='primary'
    size='medium'
    text=(if params.confirm.text params.confirm.text 'Confirm')
    onClick=onConfirm
  }}

  {{#each params.links as |link index|}}
    {{#frost-link link.route
      hook=(concat hook '-link-' index)
      priority=link.priority
      size='medium'
      onClick=onClose
    }}
      {{link.text}}
    {{/frost-link}}
  {{/each}}
</div>
