{{#from-elsewhere
  name=name
  as |modal|
}}
  {{#liquid-if modal
    containerless=true
    rules=(frost-modal-outlet-animation this modal.animation)
  }}
    <div class="frost-modal-outlet-background {{if modal.classModifier modal.classModifier}}"></div>
    <div class="frost-modal-outlet-container {{if modal.classModifier modal.classModifier}}"
      onclick={{action (ignore-children modal.onOutsideClick)}}
    >
      <div class="frost-modal-outlet-body {{if modal.classModifier modal.classModifier}}">
        {{!#liquid-spacer growDuration=100}}
          {{component modal.body}}
        {{!/liquid-spacer}}
      </div>
    </div>
  {{/liquid-if}}
{{/from-elsewhere}}
