{{#from-elsewhere
  name=name
  as |modal|
}}
  {{#liquid-if modal
    containerless=true
    rules=(frost-modal-outlet-animation this modal)
  }}
    <div class="frost-modal-outlet-background {{if modal.classModifier modal.classModifier}}"></div>
    <div
      class='frost-modal-outlet-container {{if modal.classModifier modal.classModifier}}'
      role='button'
      onclick={{action (ignore-children modal.onOutsideClick)}}
      data-test={{hook (concat 'modal-outlet-' name '-container')}}
    >
      <div class="frost-modal-outlet-body {{if modal.classModifier modal.classModifier}}">
        {{component modal.body}}
      </div>
    </div>
  {{/liquid-if}}
{{/from-elsewhere}}