<div class='frost-modal-dialog-header'>
  {{#if params.icon}}
    {{frost-icon
      icon=params.icon.name
      pack=params.icon.pack
    }}
  {{/if}}
  <div class='frost-modal-dialog-header-title'>
    {{params.title}}
  </div>
  {{! BEGIN-SNIPPET dialog-overflow-y-start }}
  {{#if isOverflowYStart}}
    <div class='frost-modal-dialog-overflow-y-start'></div>
  {{/if}}
  {{! END-SNIPPET }}
</div>

{{! BEGIN-SNIPPET dialog-overflow-scroll }}
{{#frost-scroll
  class='frost-modal-dialog-scroll'
  onScrollDown=(action 'scrollDown')
  onScrollUp=(action 'scrollUp')
  onScrollYEnd=(action 'scrollYEnd')
  onScrollYStart=(action 'scrollYStart')
}}
{{! END-SNIPPET}}
  {{#if params.summary}}
    <div class='frost-modal-dialog-summary'>
      {{params.summary}}
    </div>
  {{/if}}

  {{#if params.content}}
    <div class='frost-modal-dialog-content'>
      {{component params.content}}
    </div>
  {{/if}}
{{/frost-scroll}}



<div class='frost-modal-dialog-footer'>
  {{! BEGIN-SNIPPET dialog-overflow-y-end }}
  {{#if isOverflowYEnd}}
    <div class='frost-modal-dialog-overflow-y-end'></div>
  {{/if}}
  {{! END-SNIPPET }}

  {{frost-button
    isVisible=params.cancel.isVisible
    priority='tertiary'
    size='medium'
    text=(if params.cancel.text params.cancel.text 'Cancel')
    onClick=onCancel
  }}

  {{frost-button
    isVisible=params.confirm.isVisible
    priority='primary'
    size='medium'
    text=(if params.confirm.text params.confirm.text 'Confirm')
    onClick=onConfirm
  }}

  {{! TODO The onClose hook is breaking the 'active' transition }}
  {{#each params.links as |link|}}
    {{#frost-link link.route
      priority=link.priority
      size='medium'
      onClick=onClose
    }}
      {{link.text}}
    {{/frost-link}}
  {{/each}}
</div>
