<div class='frost-modal-dialog-header'>
  {{#if params.icon}}
    {{frost-icon
      pack='frost-modal'
      icon=params.icon
    }}
  {{/if}}
  <div class='frost-modal-dialog-header-title'>
    {{params.title}}
  </div>
  {{#if isOverflowYStart}}
    <div class='frost-modal-dialog-overflow-y-start'></div>
  {{/if}}
</div>

{{#frost-scroll
  class='frost-modal-dialog-scroll'
  onScrollDown=(action 'scrollDown')
  onScrollUp=(action 'scrollUp')
  onScrollYEnd=(action 'scrollYEnd')
  onScrollYStart=(action 'scrollYStart')
}}
  {{#if params.summary}}
    <div class='frost-modal-dialog-summary'>
      {{params.summary}}
    </div>
  {{/if}}

  {{#if content}}
    <div class='frost-modal-dialog-content'>
      {{component content}}
    </div>
  {{/if}}
{{/frost-scroll}}


<div class='frost-modal-dialog-footer'>
  {{#if isOverflowYEnd}}
    <div class='frost-modal-dialog-overflow-y-end'></div>
  {{/if}}

  {{frost-button
    isVisible=params.cancel.isVisible
    priority='tertiary'
    size='medium'
    text=(if params.cancel.text params.cancel.text 'Cancel')
    onClick=onCancel
  }}

  {{frost-button
    isVisible=params.confirm.isVisible
    priority='primary'
    size='medium'
    text=(if params.confirm.text params.confirm.text 'Confirm')
    onClick=onConfirm
  }}

  {{#each params.links as |link|}}
    {{#frost-link link.route
      priority=link.priority
      size='medium'
      onClick=onClose
    }}
      {{link.text}}
    {{/frost-link}}
  {{/each}}
</div>
