<div class='frost-modal-demo'>
  <div class='frost-modal-demos'>
    <div class='frost-modal-demo-title'>
      Demos
    </div>
    <div class='frost-modal-demo-selector'>
      {{#frost-radio-group
        hook='demo-selector'
        value=selectedDemo
        onChange=(action 'showDemo')
      }}
        {{#each demos as |demo|}}
          {{#frost-radio-button
            value=demo
          }}
            {{capitalize demo}}
          {{/frost-radio-button}}
        {{/each}}
      {{/frost-radio-group}}
    </div>
  </div>
  <div class='frost-modal-demo-example'>
    <div class='frost-modal-demo-title'>
      Template
    </div>
    {{!#liquid-spacer}}
      <div class='frost-modal-demo-hbs-snippet'>
        {{!#liquid-if changedDemo
          use='cross-fade'
        }}
        {{#if changedDemo}}
          {{code-snippet name=(concat selectedDemo '.hbs')}}
        {{else}}
          {{code-snippet name=(concat selectedDemo '.hbs')}}
        {{/if}}
        {{!/liquid-if}}
      </div>
    {{!/liquid-spacer}}
    <div class='frost-modal-demo-launch'>
      {{frost-button
        priority='primary'
        size='medium'
        text='Launch the modal'
        onClick=(action 'activateModal' selectedDemo)
      }}
    </div>
  </div>
</div>

{{! BEGIN-SNIPPET confirm }}
{{frost-modal-confirm-message
  isVisible=(eq activeModal 'confirm')
  summary='Summary'
  title='Title'
  onClose=(action 'activateModal' null)
}}
{{! END-SNIPPET }}

{{! BEGIN-SNIPPET error }}
{{frost-modal-error-message
  isVisible=(eq activeModal 'error')
  summary='Are you familiar with the old robot saying?'
  title='"Does not compute"'
  onClose=(action 'activateModal' null)
}}
{{! END-SNIPPET }}

{{! BEGIN-SNIPPET binding }}
{{frost-modal-binding 'frost-modal-dialog'
  animation=(frost-modal-animation 'message')
  classModifier='message'
  content=(component 'demo-e/components/confirm-details'
    foo='bar'
  )
  isVisible=(eq activeModal 'binding')
  params=(hash
    summary='Summary'
    title='Title'
  )
  onClose=(action 'activateModal' null)
}}
{{! END-SNIPPET}}






{{!--
  components
  - frost-modal-binding
    - conditionally binds a frost-modal-body (optionally local) to a (optionally named) frost-modal-outlet
    - requires a body component
    - requires a visibility property binding (readOnly)
    - requires an onClose action (DDAU)
    - options/actions as defined below
  - frost-modal-outlet
    - where the modal should appear (typically the root of the application body)
    - can have more than one location (via the `name` property)
  - building blocks
    - frost-modal-header
    - frost-modal-scroll
    - frost-modal-footer
    - frost-modal-cancel
    - frost-modal-confirm
  - frost-modal-confirm-message
    - requires a message
    - requires a visibility property binding (readOnly)
    - requires an onClose action (DDAU)
    - details
      - component
      - params
        - ...
    - cancel
      - isVisible
      - text
    - confirm
      - isVisible
      - text
    - icon
    - summary
    - title
  - frost-modal-error-message
  - frost-modal-info-message
  - frost-modal-warn-message
  - frost-modal-form
    - predefined modal body for a form

  options
  - animation (optional)
    - pass in a transition function (can include a reverse)
    - can disable via environment config {{code-snippet name='config-no-animation.js''}}
    - predefined animations are available via the (frost-modal-animation) helper
      - form
      - message
  - classModifier (optional)
    - appends a class to the following to allow customization on a per-modal basis
      - frost-modal-outlet-background
      - frost-modal-outlet-container
      - frost-modal-outlet-body
  - closeOnOutsideClick (optional)
  - targetOutlet

  actions
  - onCancel (optional)
  - onClose
  - onConfirm (optional)

  background content blur
  - add the following to the content body of the application class="{{if (frost-modal-active) 'frost-modal-content-blur'}}"

  environment
  - frost-modal
    - no-animation (optional)
--}}

{{!frost-modal-error-message
  confirm=(hash
    isVisible=false
  )
  isVisible=isErrorModalVisible
  links=(array
    (hash
      priority='secondary'
      route='demo'
      text='Go to demo'
    )
  )
  summary='Are you familiar with the old robot saying?'
  title='"Does not compute"'
  onClose=(action (mut isErrorModalVisible) false)
}}

{{!frost-modal-confirm-message
  content=(hash
    component='confirm-details'
    params=(hash
      lines=lines
    )
  )
  isVisible=isUserModalVisible
  summary='Summary'
  title='Title'
  onClose=(action (mut isUserModalVisible) false)
}}