{{!-- BEGIN-SNIPPET form-api }}
  {{frost-modal-outlet}}

  {{! use `object` instead of `hash` to resolve issue
      https://github.com/emberjs/ember.js/issues/14738
      as `hash` does not have a `toString` method }}
  {{frost-modal-form
    confirm=(hash
      disabled= // (false)
      isVisible=  // (true)
      text= // ('Confirm')
    )
    form=(component 'frost-bunsen-form'
      bar= // e.g. props for 'foo'
    )
    hook= // a string
    isVisible= // Required binding
    title= // Required
    onCancel= // e.g. (action 'foo')
    onClose= // Required binding
    onConfirm= // e.g. (action 'foo')
  }}
{{ END-SNIPPET --}}

{{! BEGIN-SNIPPET form }}
{{frost-modal-form
  closeOnConfirm=true
  confirm=(hash
    disabled=(not isFormValid)
  )
  form=(component 'frost-bunsen-form'
    bunsenModel=bunsenModel
    hook='simple-form'
    onChange=(action 'updateFormValue')
    onValidation=(action 'updateValidity')
    value=bunsenValue
  )
  hook='form-dialog'
  isVisible=isFormVisible
  title='Basic usage'
  onClose=(action 'closeForm')
  onConfirm=(action 'handleConfirm')
}}
{{! END-SNIPPET }}

<div class='frost-modal-demo-api'>
  <div class='frost-modal-demo-title'>
    Basic <code>frost-modal-form</code> usage
  </div>
  <div class='frost-modal-demo-notes'>
    <p>
      The
      <a href='https://github.com/ciena-frost/ember-frost-modal/tree/master/tests/dummy/app/pods/demo/form'
         rel='noopener'
         target='_blank'
      >
        <code>tests/dummy/app/pods/demo/form</code>
      </a>
      demo route demonstrates basic usage of <code>frost-modal-form</code> to present a Bunsen form.
    </p>
    <ul>
      <li>The Confirm button is only enabled when the form is valid</li>
      <li>The form value is kept by the consumer of our modal form</li>
    </ul>
  </div>
  <div class='frost-modal-demo-title'>
    API
  </div>
  <div class='frost-modal-demo-snippet'>
    {{code-snippet name='form-api.hbs'}}
  </div>
  <div class='frost-modal-demo-notes'>
    <p>
      Controller actions:
    </p>
  </div>
  <div class='frost-modal-demo-snippet'>
    {{code-snippet name='form-actions.js'}}
  </div>
</div>
<div class='frost-modal-demo-live'>
  <div class='frost-modal-demo-title'>
    Live demo
  </div>
  <div class='frost-modal-demo-snippet'>
    {{code-snippet name='form.hbs'}}
  </div>
  <div class='frost-modal-demo-launch'>
    {{frost-button
      hook='launchButton'
      priority='primary'
      size='medium'
      text='Launch the modal'
      onClick=(action 'openForm')
    }}
  </div>
</div>
