{{!-- BEGIN-SNIPPET form-api }}
  {{frost-modal-outlet}}

  {{frost-modal-form
    buttons=(array
      (hash
        disabled= // true
        icon= // e.g. 'info'
        onClick= // e.g. (action 'info')
        pack= // e.g. 'frost'
        priority= // ['primary', etc.]
        text= // e.g. 'Foo'
      )
    )
    cancel=(hash
      isVisible= // (true)
      text= // ('Cancel')
    )
    closeOnConfirm= // (true)
    confirm=(hash
      disabled= // (false)
      isVisible=  // (true)
      text= // ('Confirm')
    )
    footer= // e.g. 'Foo bar' or a component
      (component 'frost-loading')
    form=(component 'frost-bunsen-form'
      bar= // e.g. props for 'foo'
    )
    isVisible= // Required binding
    links=(array
      (hash
        priority= // ['primary', etc.]
        route= // e.g. 'foo.bar'
        text= // e.g. 'Foo'
      )
    )
    subtitle= // e.g. 'Foo bar'
    targetOutlet= // ('modal')
    title= // Required
    onCancel= // e.g. (action 'foo')
    onClose= // Required binding
    onConfirm= // e.g. (action 'foo')
  }}
{{ END-SNIPPET --}}

{{! BEGIN-SNIPPET form }}
{{frost-modal-form
  buttons=(array
    (hash
      icon='info'
      onClick=(action 'info')
      pack='frost'
      priority='secondary'
      text='Info'
    )
  )
  classModifier='my-class'
  closeOnConfirm=false
  confirm=(hash
    disabled=(not isSomethingReady)
  )
  footer='Foo bar'
  form=(component 'frost-bunsen-form'
    bunsenModel=simpleBunsenModel
    hook='bunsen-form'
    onChange=(action 'simpleBunsenChange')
    value=simpleBunsenValue
  )
  hook='form-dialog'
  isVisible=isFormVisible
  subtitle='Lemon squeezy'
  title='Easy peasy'
  onClose=(action 'closeForm')
  onConfirm=(action 'notifyClearAndClose')
}}
{{! END-SNIPPET }}

<div class='frost-modal-demo-api'>
  <div class='frost-modal-demo-title'>
    API
  </div>
  <div class='frost-modal-demo-snippet'>
    {{code-snippet name='form-api.hbs'}}
  </div>
</div>
<div class='frost-modal-demo-live'>
  <div class='frost-modal-demo-title'>
    Live demo
  </div>
  <div class='frost-modal-demo-snippet'>
    {{code-snippet name='form.hbs'}}
  </div>
  <div class='frost-modal-demo-launch'>
    {{frost-button
      hook='launchButton'
      priority='primary'
      size='medium'
      text='Launch the modal'
      onClick=(action 'openForm')
    }}
  </div>
</div>
