{{!-- BEGIN-SNIPPET error-api }}
  {{frost-modal-outlet}}

  {{frost-modal-error-message
    buttons=(array
      (hash
        disabled= // true
        icon= // e.g. 'info'
        onClick= // e.g. (action 'info')
        pack= // e.g. 'frost'
        priority= // ['primary', etc.]
        text= // e.g. 'Foo'
      )
    )
    confirm=(hash
      isVisible= // (true)
      text= // ('Close')
    )
    details=(component 'foo'
      bar= // e.g. props for 'foo'
    )
    footer= // e.g. 'Foo bar' or a component
      (component 'frost-loading')
    isVisible= // Required binding
    links=(array
      (hash
        priority= // ['primary', etc.]
        route= // e.g. 'foo.bar'
        text= // e.g. 'Foo'
      )
    )
    subtitle= // e.g. 'Foo bar'
    summary= // [main message]
    targetOutlet= // ('modal')
    title= // Required
    onClose= // Required binding
    onConfirm= // e.g. (action 'foo')
  }}
{{ END-SNIPPET --}}

{{! BEGIN-SNIPPET error }}
{{frost-modal-error-message
  confirm=(hash
    isVisible=false
  )
  hook='error-dialog'
  footer=(component 'frost-loading' class='frost-footer-component')
  isVisible=isErrorVisible
  links=(array
    (hash
      priority='secondary'
      route='demo.confirm'
      text='To safety!'
    )
  )
  summary='Are you familiar with the old robot saying?'
  title='"Does not compute"'
  onClose=(action 'phew')
}}
{{! END-SNIPPET }}

<div class='frost-modal-demo-api'>
  <div class='frost-modal-demo-title'>
    API
  </div>
  <div class='frost-modal-demo-snippet'>
    {{code-snippet name='error-api.hbs'}}
  </div>
</div>
<div class='frost-modal-demo-live'>
  <div class='frost-modal-demo-title'>
    Live demo
  </div>
  <div class='frost-modal-demo-snippet'>
    {{code-snippet name='error.hbs'}}
  </div>
  <div class='frost-modal-demo-launch'>
    {{frost-button
      hook='launchButton'
      priority='primary'
      size='medium'
      text='Launch the modal'
      onClick=(action (mut isErrorVisible) true)
    }}
  </div>
</div>
